@import "ember-cli-bootstrap-4/bootstrap";

body {
  padding: 10px;
  margin: 40px;
    background: #EEE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #FFF, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,  #FFF, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,  #FFF, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,  #FFF, #EEE); /* Standard syntax */
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.table tr th {
  @extend .text-xs-center;
}

.pre-textarea {
  white-space: pre;
  overflow: auto;
  min-width: 100%;
  min-height: 400px;
}
