{
  "extends": "airbnb/base",

  // D3 Overrides

  "env": {
    "amd": true
  },

  "globals": {
    "d3": true
  },
  "plugins": [
        "eslint-plugin-ember"
  ],
  "rules": {
    // allow trailing commas in object literals
    'comma-dangle': [2, 'never'],

    // enforce newline at the end of file, with no multiple empty lines
    'eol-last': 0,

    // specify the maximum length of a line in your program
    'max-len': [1, 200, 2, {
      'ignoreUrls': true,
      'ignoreComments': false
    }],

    // requires to declare all vars on top of their containing scope
    'vars-on-top': 0,

    // enforce padding within blocks
    'padded-blocks': [0, 'never'],

    // require return statements to either always or never specify values
    'consistent-return': 0,

    // require a capital letter for constructors
    'new-cap': [2, {'newIsCap': true, 'capIsNewExceptions': ['Deferred', 'SetOptions']}],
  }
}
