<h2 class="margin-bottom">Text Translations</h2>

{{#if errorList}}
  <div class="alert alert-danger">
    <div>
      <span><strong>Aw Snap!</strong></span>
      <button type="button" class="close" {{action 'clearError'}}>
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <ul>
      {{#each errorList as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<ul class="nav nav-tabs margin-bottom" role="tablist">
  <li class="nav-item active"><a class="nav-link" href="#">l10n Key</a></li>
  <!--<li class="nav-item"><a class="nav-link disabled" href="#">Import</a></li>-->
  <!--<li class="nav-item"><a class="nav-link disabled" href="#">Update</a></li>-->
  <!--<li class="nav-item"><a class="nav-link disabled" href="#">Delete</a></li>-->
  <!--<li class="nav-item"><a class="nav-link disabled" href="#">Key List</a></li>-->
  <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li class="nav-item"><a class="nav-link" href="https://github.com/themmer/text-scripts/issues/new" target="_blank">Report Bug / Feature Request</a></li>
</ul>

{{outlet}}
